@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

:root{
    /* COLOR STYLES  ~ Tailwind Indigo*/
    --primary-90: #312e81;
    --primary-80: #3730a3;
    --primary-70: #4338ca;
    --primary-60: #4f46e5;
    --primary-50: #6366f1; /*primary*/
    --primary-40: #818cf8;
    --primary-30: #a5b4fc;
    --primary-20: #c7d2fe;
    --primary-10: #e0e7ff;
    
    --secondary-50: #D64A52;
    --secondary-40: #ED6B4F;
    --secondary-30: #F18B52; /*secondary*/
    --secondary-20: #F6BC91;
    --secondary-10: #FEE2C2;

    --gray-100: #1A1A1F;
    --gray-90: #313135;
    --gray-80: #48484C;
    --gray-70: #5F5F62;
    --gray-60: #767679;
    --gray-50: #8D8D8F;
    --gray-40: #A3A3A5;
    --gray-30: #BABABC;
    --gray-20: #D1D1D2;
    --gray-10: #E8E8E9;
    --gray-5: #F9F9F9;
    --gray-0: #FBFCFB;

    --ui-green: #0AF2AD;
    --ui-red: #FB7185;

    /* TYPOGRAPHY */
    --ff: 'Outfit', sans-serif;

    --size-bgx: 2rem;
    --size-bg: 1.8rem;
    --size-md: 1.2rem;
    --size-nm: 1rem;
    --size-sm: .875rem;
    --size-smx: .725rem;
    
    --bold: 700;
    --semibold: 600;
    --medium: 500;
    --regular: 400;
    --lighter: 300;

    /* SPACING */
    --p2: .1rem;
    --p4: .25rem;
    --p8: .5rem;
    --p12: .75rem;
    --p16: 1rem;
    --p20: 1.25rem;
    --p24: 1.5rem;
    --p64: 4rem;

    /* BORDER RADIUS */
    --rounded3: .2rem;
    --rounded6: .4rem;
    --rounded8: .5rem;
    --rounded16: 1rem; 

    /* EFFECTS SHADOW */
    --shadow-dark: 0px 2px 8px var(--gray-10);
    --shadow-indigo: 2px 4px 20px var(--primary-10);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff);
    color: var(--gray-80);
}

html{
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/* DARK THEME */

body .dark-theme{

    --primary-10: #D1D7EE;
    --primary-20: #BEC4DA;
    --primary-30: #AEB4C8;
    --primary-40: #babbf5;
    --primary-50: #7375f2; /*primary*/
    --primary-60: #9294f5;
    --primary-70: #a5b4fc;
    --primary-80: #c7d2fe;
    --primary-90: #e0e7ff;
    
    --gray-100: #e0e7ff;
    --gray-90: #D1D7EE;
    --gray-80: #BEC4DA;
    --gray-70: #AEB4C8;
    --gray-60: #b8bccf;
    --gray-50: #8B90A3;
    --gray-40: #9da1b3;
    --gray-30: #9d9ea7;
    --gray-20: #626570;
    --gray-10: #444755;
    --gray-5: #343643;
    --gray-0: #282A36;

    --shadow-dark: 0px 2px 8px var(--gray-0);
    --shadow-indigo: 2px 4px 20px #372272;
}

.dark-theme .menu__link span{
    color: var(--gray-100);
}

body{
    background-color: var(--gray-10);
}

a{
    text-decoration: none;
}

button:focus{
    outline: 2px solid var(--gray-20);
}

#app{
    display: grid;
    grid-template-columns: 3.75rem auto;
    margin: 2rem;
    min-height: 100vh;
    background-color: var(--gray-5);
    border-radius: var(--rounded8);
    box-shadow: var(--shadow-dark);
    transition: grid-template-columns .5s ease-in-out;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: var(--p8);
    border-radius: var(--rounded8);
    background-color: var(--primary-50);
    box-shadow: var(--shadow-dark);
    overflow-x: hidden;
}

.material-symbols-rounded {
    font-size: var(--size-md);
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 200,
    'opsz' 20
}

.no-fill{
    font-variation-settings:
    'FILL' 0;
}

.status{
    position: absolute;
    right: 0;
    top: 0;
    width: 6px;
    height: 6px;
    background-color: var(--ui-green);
    border-radius: 50%;
}

.dropdown{
    display: none;
    position: absolute;
    padding: .5rem;
    width: 7rem;
    bottom: -12rem;
    right: 0;
    gap: .5rem;
    background-color: var(--gray-0);
    border: 1px solid var(--gray-20);
    border-radius: var(--rounded3);
}

.dropdown__btn{
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    gap: .5rem;
    color: var(--gray-20);
    border: none;
    background-color: var(--gray-0);
    border-radius: var(--rounded6);
    cursor: pointer;
}

.dropdown__btn span{
    color: var(--gray-20);
}

.dropdown__btn:hover span{
    color: var(--gray-50);
}

.dropdown__btn:hover{
    color: var(--gray-50);
    background-color: var(--gray-5);
}

.dropdown__btn__cta{
    padding: .5rem 1rem;
    font-size: var(--size-smx);
    font-weight: var(--regular);
    color: var(--gray-0);
    background-color: var(--primary-40);
    border: none;
    border-radius: var(--rounded6);
    cursor: pointer;
}

.dropdown__btn__cta:hover{
    color: var(--gray-0);
    background-color: var(--primary-50);
}

.profile__sm{
    position: relative;
}

.notifications .dropdown, 
.profile__sm #submenu__dropdown {
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 7rem;
}

.config__dropdown,
.support__dropdown{
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.sidebar__menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--p16) 0;
    width: 2.5rem;
    border-top: 1px solid var(--gray-20);
}

.menu__link{
    display: flex;
    align-items: center;
    gap: .9rem;
    margin: .3rem;
    padding: var(--p16);
    height: 2.5rem;
    background-color: var(--primary-50);
    border: none;
    cursor: pointer;
}

.menu__link:hover{
    color: var(--primary-50);
    background-color: var(--primary-10);
}

.menu__link:focus{
    outline: none;
    transform: scale(1.05);
}

.menu__link span{
    color: var(--gray-0);
    transition: .2s;
}

.menu__link span:nth-child(2){
    display: none;
    font-size: 1rem;
}

/* -------------------------------- MENU NAV EXPAND -------------------------------- */

@keyframes display {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.sidebar:hover{
    padding: var(--p24) 0;
    color: var(--gray-60);
    background-color: var(--gray-0);
    border: 1px solid var(--gray-20);
}

.sidebar:hover img:nth-child(1),
.sidebar .img img:nth-child(2){
    display: none;
}

.sidebar:hover .img img:nth-child(2){
    display: block;
    width: 5rem;
    border-radius: 50%;
}

.img .avatar:hover,
#profile .avatar__sm:hover{
    border: 4px solid var(--gray-10);
    border-radius: 50%;
    opacity: .9;
    cursor: pointer;
}

.sidebar:hover .sidebar__menu{
    align-self: start;
    width: 100%;
    border-top: 1px solid var(--gray-10);
}

.sidebar:hover .sidebar__menu .menu__link{
    width: 100%;
    padding-left: var(--p24);
    border-left: 4px solid transparent;
    background-color: var(--gray-0);
}

.sidebar:hover .menu__link span{
    color: var(--gray-50);
}

.sidebar:hover .sidebar__menu .menu__link:hover span{
    color: var(--primary-50);
}

.sidebar:hover .sidebar__menu .active{
    border-left: 4px solid var(--primary-50);  
    background-color: var(--primary-10);
}

.sidebar:hover .sidebar__menu .active span{
    color: var(--primary-50);
}

.sidebar:hover span:nth-child(2),
.sidebar:hover .carousel,
.sidebar:hover .carousel .ads{
    display: block;
    animation: display 2s;
}

.sidebar:hover .toggle__container{
    background-color: var(--primary-10);
}

.toggle__container{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 2.5rem;
    height: 1.5rem;
    background-color: var(--primary-40);
    border-radius: var(--rounded16);
}

.toggle__switch{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 1.5rem;
    width: 1.5rem;
    padding: .1rem;
    border-radius: 50%;
}

.carousel{
    display: none;
    position: relative;
}

.ads{
    width: 9rem;
    border-radius: var(--rounded8);
}

.pagination{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 2.5rem;
    height: .5rem;
    border-radius: .5rem;
    left: 50%;
    bottom: .5rem;
    transform: translateX(-20px);
}

.pagination__dots{
    width: .5rem;
    height: .5rem;
    border: 1px solid var(--gray-0);
    border-radius: 50%;
    background-color: var(--gray-40);
    transition: .5s ease;
}

.pagination .active{
    width: 1rem;
    background-color: var(--gray-0);
    border-radius: 1rem;
}

/*----------------------------- O MAIN CONTAINER COMEÇA AQUI ------------------------------*/
.main__container{
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-column: 2/3;
    min-height: 100vh;
}

/*----------------------------- TOPBAR / BARRA DE PESQUISA -----------------------------------*/
.top__bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--p24);
    border-bottom: 1px solid var(--gray-10);
    border-radius: 0 .5rem 0 0;
}

.brand__wordmark{
    font-size: var(--size-bgx);
    font-weight: var(--bold);
    color: var(--primary-50);
}

.search{
    padding-inline: var(--p24);
    position: relative;
}

.search__ico{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-8px, -8px);
}

#search{
    min-width: 30rem;
    padding: .5rem;
    text-align: center;
    font-size: var(--size-sm);
    color: var(--gray-30);
    background-color: var(--gray-5);
    border: 1px solid var(--gray-10);
    border-radius: var(--rounded8);
    transition: width .2s;
}

#search:focus{
    outline: none;
    border: 2px solid var(--gray-20);
    background-color: var(--gray-5);
}

input::placeholder{
    color: var(--gray-30);
}

.date{
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding-inline: var(--p16);
    gap: .5rem;
    font-size: var(--size-sm);
    background-color: var(--gray-5);
    border: 1px solid var(--gray-10);
    border-radius: var(--rounded8);
}

#time,
.time__ico{
    font-size: var(--size-sm);
    font-weight: var(--lighter);
    color: var(--gray-30);
}

.user__nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.notifications{
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--p2);
    border-radius: 50%;
}

.notifications:hover{
    background-color: var(--gray-10);
    cursor: pointer;
}

.avatar__sm{
    position: relative;
    width: 40px;
    cursor: pointer;
}

/*------------------------ AQUI COMEÇA A AREA DE TRABALHO ---------------------------*/


.station__container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: var(--gray-5);
}

.station__wrapper{
    display: grid;
    grid-template-rows: 1fr 3fr;
    background-color: var(--gray-5);
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    border-bottom: 1px solid var(--gray-10);
}

.updates{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--p24);
    gap: .5rem;
}

.updates h3{
    font-size: var(--size-md);
    font-weight: var(--regular);
    color: var(--gray-60);
}

.updates p{
    font-size: var(--size-sm);
    font-weight: var(--regular);
    color: var(--gray-30);
}

.updates__label{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--gray-10);
}

.bullet__point{
    width: 8px;
    height: 8px;
    background-color: var(--ui-green);
    border-radius: var(--rounded3);
}

.tabs{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    padding-inline: 1rem;
}

.tabs p{
    text-transform: uppercase;
    font-size: var(--size-smx);
    font-weight: var(--regular);
    color: var(--gray-0);
}

.tabs h3{
    font-size: var(--size-md);
    font-weight: var(--regular);
    color: var(--gray-0);
}

.tab__1{
    background-color: var(--primary-40);
}

.tab__2{
    background-color: var(--primary-30);
}

.tab__3{
    background-color: var(--primary-20);
}

.tab__1,
.tab__2, 
.tab__3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 10rem;
    height: 6.5rem;
    padding: var(--p16);
    border-radius: var(--rounded8);
    transition: transform .2s ease-in-out;
    cursor: pointer;
}

.tab__1:hover,
.tab__2:hover, 
.tab__3:hover{
    transform: scale(1.03);
}

/* ------------------------------WORKSTATION FLEXÍVEL-------------------------------
.station__content{

}
*/
/* ------------------------------FOCUS BAR-------------------------------*/
.focus__bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    border-left: 1px solid var(--gray-10);
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: max-content;
    padding: var(--p8) var(--p24);
    gap: .5rem;
    border-radius: var(--rounded8);
    transition: .2s ease;
}

.card:hover{
    background-color: var(--gray-0);
    box-shadow: var(--shadow-dark);
    transform: scaleY(1.01);
}

.card__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
    padding-bottom: var(--p8);
    border-bottom: 1px solid var(--gray-10);
} 

.card__title h4{
    font-size: var(--size-nm);
    font-weight: var(--regular);
    color: var(--gray-40);
}

.card__title h5{
    font-size: var(--size-sm);
    font-weight: var(--medium);
    color: var(--gray-40);
}

.edit__card{
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.edit__card p{
    font-size: var(--size-smx);
    font-weight: var(--medium);
    color: var(--gray-40);
}

.card__btn{
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.card__btn button{
    width: 100%;
    padding: var(--p16) var(--p64);
    font-size: var(--size-nm);
    font-weight: var(--semibold);
    color: var(--gray-40);
    border: none;
    border-radius: var(--rounded8);
    background-color: var(--gray-10);
    cursor: pointer;
}

.card__btn button:hover{
    color: var(--gray-0);
    background-color: var(--primary-40);
    box-shadow: var(--shadow-indigo);
}

.card__contact__btn{
    width: 100%;
    text-align: center;
    padding: 2rem 0rem;
}

.card__contact__btn button{
    width: 100%;
    padding: var(--p16) var(--p24);
    font-size: var(--size-nm);
    font-weight: var(--semibold);
    color: var(--primary-40);
    border: 2px solid var(--primary-40);
    border-radius: var(--rounded8);
    background-color: transparent;
    cursor: pointer;
}

.card__contact__btn button:hover{
    color: var(--gray-0);
    background-color: var(--primary-40);
    box-shadow: var(--shadow-indigo);
}

.contacts{
    display:flex;
    gap: .3rem;
}

.contacts img{
    height: 24px;
}

.add__contacts,
.add__contacts span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: var(--gray-0);
    background-color: var(--primary-40);
    border-radius: var(--rounded16);
    border: none;
    cursor: pointer;
}

.add__contacts span:hover{
    background-color: var(--primary-50);
    box-shadow: var(--shadow-indigo);
}


.edit__ico{
    color: var(--gray-30);
    cursor: pointer;
}

.volume__ico{
    padding: var(--p4);
    color: var(--primary-30);
    border: 1px solid var(--primary-30);
    border-radius: var(--rounded3);
}

.card__reminder{
    display: flex;
    align-items: center;
    padding: var(--p16);
    gap: 1rem;
    width: 100%;
    color: var(--gray-30);
    border: 1px solid var(--gray-10);
    border-radius: var(--rounded6);
}

.description{
    font-size: var(--size-smx);
    line-height: 175%;
}

.events__details{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--gray-0);
}

.reminder__title{
    font-weight: var(--semibold);
    color: var(--gray-60);
}

.reminder__details{
    display: flex;
    align-items: center;
    gap: .5rem;
    line-height: 150%;
    font-size: var(--size-smx);
    color: var(--gray-30);
}

.description .reminder__details .agenda{
    font-size: var(--size-smx);
    color: var(--gray-40);
}

.bullet__point__task{
    background-color: var(--ui-green);
}

/* ------------------------------FOOTER-------------------------------*/
.footer__label{
    font-size: var(--size-sm);
    font-weight: var(--size-nm);
    color: var(--gray-20);
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-5);
    border: 1px solid var(--gray-10);
    border-radius: 0 0 .5rem 0;
}

/*--------------------------WORKSTATION CONTENT ------------------------------*/
.station__content{
    margin-inline: auto;
    padding: var(--p24);
    width: 100%;
}

.station__workbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.station__tabs{
    display: flex;
    padding-inline: var(--p16);
    gap: 1rem;
}

.station__tab{
    padding: 1rem 0;
    background-color: transparent;
    border: none;
}

.station__tab span{
    color: var(--gray-60);
    padding: .5rem 1rem;
    border-radius: .2rem;
    cursor: pointer;
}

.station__tab:hover span{
    color: var(--primary-60);
    background-color: var(--primary-20);
}

.station__tabs .active{
    border-bottom: 2px solid var(--primary-50);
}

.station__tabs .active span{
    color: var(--primary-50);
}

/*--------------------------WORKSTATION CONTENT - VISAO GERAL ------------------------------*/

/*--------------------------WORKSTATION CONTENT - AGENDA ------------------------------*/

.agenda__container{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: .5rem;
    gap: .5rem;
    border-radius: var(--rounded8);

}

.agenda__row{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 1rem;
}

.agenda__row div{
    border: 1px solid pink;
    padding: .5rem 0 .5rem .5rem;
}

.content__header{
    font-size: var(--size-md);
    font-weight: var(--regular);
    color: var(--gray-60);
}

.agenda__label{
    font-size: var(--size-sm);
    font-weight: var(--regular);
    color: var(--gray-90);
}

.agenda__data div{
    font-size: var(--size-sm);
    font-weight: var(--regular);
    color: var(--gray-60);
}

/*--------------------------WORKSTATION CONTENT - FERRAMENTAS ------------------------------*/

.tools__content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
    border: 1px solid red;
}

.kanban__wrapper{
    display: flex;
    gap: 1rem;
}

.card__kanban{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: max-content;
    padding: var(--p8) var(--p24);
    gap: .5rem;
    border: 1px solid var(--gray-10);
    border-radius: var(--rounded8);
    transition: .2s ease;
    grid-row: 1/3;
}

.card__kanban:hover{
    background-color: var(--gray-0);
    box-shadow: var(--shadow-dark);
    transform: scaleY(1.05);
}

.reminder__label__red{
    padding: var(--p2) var(--p4);
    font-size: var(--size-smx);
    color: var(--ui-red);
    background-color: #fb71863a;
    border-radius: var(--rounded8);
}

.reminder__label__orange{
    padding: var(--p2) var(--p4);
    font-size: var(--size-smx);
    color: var(--secondary-30);
    background-color: var(--secondary-10);
    border-radius: var(--rounded8);
}

.reminder__label__green{
    padding: var(--p2) var(--p4);
    font-size: var(--size-smx);
    color: var(--ui-green);
    background-color:#0af2ac13;
    border-radius: var(--rounded8);
}

/*-------------------------- MEDIA QUERIES BREAKPOINTS ------------------------------*/
/*
--screen-mobile: 360~640px;
--screen-tablet: 800~1024px;
--screen-desktop-hd: 1440px;
--screen-desktop-uhd: 1920px;
*/