@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

:root{
    /* COLOR STYLES */
    --primary-90: #000B15;
    --primary-80: #001930;
    --primary-70: #002E58;
    --primary-60: #003C72;
    --primary-50: #004A8D; /*primary*/
    --primary-40: #316DA4;
    --primary-30: #92B3D1;
    --primary-20: #C2D6E8;
    --primary-10: #F3F9FF;
    
    --secondary-50: #945911;
    --secondary-40: #C67617;
    --secondary-30: #F7941D; /*secondary*/
    --secondary-20: #FDC180;
    --secondary-10: #FDDFBB;

    --gray-100: #1A1A1F;
    --gray-90: #313135;
    --gray-80: #48484C;
    --gray-70: #5F5F62;
    --gray-60: #767679;
    --gray-50: #8D8D8F;
    --gray-40: #A3A3A5;
    --gray-30: #BABABC;
    --gray-20: #D1D1D2;
    --gray-10: #E8E8E9;
    --gray-5: #F9F9F9;
    --gray-0: #FBFCFB;

    --ui-green: #0AF2AD;
    --ui-red: #FB7185;
    --ui-blue: #91E4DA;
    --ui-yellow:#FFE6A7;

    /* TYPOGRAPHY */
    --ff: 'Outfit', sans-serif;

    --size-bgx: 2rem;
    --size-bg: 1.8rem;
    --size-md: 1.2rem;
    --size-nm: 1rem;
    --size-sm: .875rem;
    --size-smx: .725rem;
    
    --bold: 700;
    --semibold: 600;
    --medium: 500;
    --regular: 400;
    --lighter: 300;

    /* SPACING */
    --p2: .1rem;
    --p4: .25rem;
    --p8: .5rem;
    --p12: .75rem;
    --p16: 1rem;
    --p20: 1.25rem;
    --p24: 1.5rem;
    --p64: 4rem;

    /* BORDER RADIUS */
    --rounded3: .2rem;
    --rounded6: .4rem;
    --rounded8: .5rem;
    --rounded16: 1rem; 

    /* EFFECTS SHADOW */
    --shadow-dark: 0px 2px 6px var(--gray-20);
    --shadow-indigo: 2px 4px 20px var(--primary-10);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff);
    color: var(--gray-40);
}

html{
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(64deg, #316DA4 0%, #E95739 80%, #E8983A 100%);
}

a{
    text-decoration: none;
}

input[type="checkbox"]:focus{
    outline: none !important;
}

/*--------------------------------------LOG PROFESSOR------------------------------------*/

.login__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    column-gap: 2rem;
    padding: var(--p64);
    background-color: var(--gray-0);
    border-radius: var(--p16);
}

.login__form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login__form img{
    width: 100px;
    margin-bottom: 1rem;
}

.login__inputs,
.login__pass{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.login__inputs label{
    font-size: var(--size-nm);
    font-weight: var(--medium);
    color: var(--gray-60);
}

.login__inputs input{
    border: 1px solid var(--gray-30);
    font-size: var(--size-nm);
    border-radius: var(--p8);
    height: 2.5rem;
    border: 1px solid var(--gray-30);
    padding-inline: .5rem;
}

.login__inputs input:focus{
    outline: 4px solid var(--gray-10);
}

.login__inputs ::placeholder{
    color: var(--gray-30);
    font-size: var(--size-nm);
    font-weight: var(--medium);
}

.login__pass{
    position: relative;
}

#visibility{
    position: absolute;
    right: .5rem;
    top: 50%;
    font-size: 20px;
    transform: translateY(-10px);
    cursor: pointer;
    color: var(--gray-30);
}

.login__reminder{
    display: flex;
    align-items: center;
    gap: var(--p12);
}

.login__reminder input[type="checkbox"]{
    cursor: pointer;
}

.login__reminder label{
    font-size: var(--size-sm);
}

.login__button{
    display: block;
    margin-inline: auto;
    padding: var(--p12) var(--p8);
    background-color: var(--primary-40);
    border-radius: var(--p4);
    width: 100%;
    text-align: center;
    color: var(--gray-0);
    font-weight: var(--medium);
    transition: background-color .3s ease;
    border-radius: var(--rounded8);
}

.login__button:hover{
    background-color: var(--primary-50);
    box-shadow: var(--shadow-indigo);
}

.login__qrcode{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--p20);
    padding: var(--p24);
    background-color: var(--primary-40);
    border-radius: var(--p16);
}

.login__qrcode :is(h2, p){
    color: var(--gray-0);
}

.login__qrcode h2{
    font-weight: var(--medium);
    font-size: var(--size-md);
}

.login__qrcode img{
    border-radius: var(--p16);
}

@media screen and (min-width: 1600px){
    .login__container{
        transform: scale(1.5);
    }
}

@media screen and (max-width: 1020px){
    .login__container{
        grid-template-columns: 1fr;
        padding: var(--p24);
    }

    .login__form img{
        margin-inline: auto;
        margin-top: 2rem;
    }

    .login__qrcode{
        display: none;
    }
}

/*--------------------------------------LOG ALUNO------------------------------------*/

.login__container2{
    width: 50%;
}

.login__container2 .login__qrcode{
    background-color: var(--gray-0);
    padding: var(--p64) 0;
}

.login__container2 .login__qrcode :is(h2, p){
    color: var(--gray-70);
}

.login__container2 .login__qrcode img:first-child{
    width: 140px;
    border-radius: 0;
}